[Unit]
Description=CASPi receipt publication every minute
[Timer]
OnBootSec=30
OnUnitInactiveSec=60
Unit=caspi-receipt-sync.service
[Install]
WantedBy=timers.target
